@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.intro {
  height: 40vh;
  margin: 0;
  border: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  max-height: 1000px;
  align-items: center;
  background-size: cover;
  background-position: center center;
}

.container {
  min-height: 100vh;
  background: url(https://images.pexels.com/photos/33825/milky-way-rocks-night-landscape.jpg) 0 0 no-repeat;
  background-size: cover;
}

.intro {
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  color: #FFFFFF;

  .primary-heading {
    color: white;
    font-weight: 600;
  }
}

.main {
  margin: 0 auto;
  max-width: 960px;
}